@using Microsoft.AspNetCore.Identity
@using MyShop.Models
@inject SignInManager<ApplicationUser> SignInManager



@{
    ViewData["Title"] = "Splash";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/Reset.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />

</head>
@if (SignInManager.IsSignedIn(User))
{
    <span>Welcome @User.Claims.First(c => c.Type == "FullName").Value!</span>
}
<div class="float-right">
    @if (SignInManager.IsSignedIn(User))
    {
        @await Component.InvokeAsync("BasketComponent");
    }
</div>
@if (!SignInManager.IsSignedIn(User))
{
    <span>Welcome anonymous! <a href="/Account/Register">Click here to sign in!</a></span>
}
