@using Microsoft.AspNetCore.Identity
@using MyShop.Models
@inject SignInManager<ApplicationUser> SignInManager



@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<title>Home</title>
@if (SignInManager.IsSignedIn(User))
{
    <span>Welcome @User.Claims.First(c => c.Type == "FullName").Value!</span>
}
@if (!SignInManager.IsSignedIn(User))
{
    <span>Welcome anonymous! <a href="/Register">Click here to sign in!</a></span>
}
