@using Microsoft.AspNetCore.Identity
@using MyShop.Models
@inject SignInManager<ApplicationUser> SignInManager



@{
    ViewData["Title"] = "Splash";
    Layout = "_Layout";
}

<head>
    <title>Splash</title>
    <link rel="stylesheet" href="~/css/Reset.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />

</head>
<body class="splash">
    <div class=""></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Wild Planet</h1>
                <a asp-action="Home">Enter Site</a>
            </div>
        </div>
    </div>
</body>