

@{
    ViewData["Title"] = "Posts";
    Layout = "_layout";
}
<head>
    <link rel="stylesheet" href="~/css/Reset.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />

</head>
<title>Exclusive Page</title>
<h1>Exclusive</h1>

Hello user!!! You have accessed the page!!!