@model  MyShop.Models.Basket
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>

            </th>
            <th>


            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BasketList)
        {
          
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                $@item.LineItemAmount
            </td>
            <td>
                <form asp-action="Edit" method="post" asp-route-id="@item.ID">
                <input type="number" name="quantity" value="@item.Quantity" />
                <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <a asp-action="DeleteBasketItem" asp-route-id="@item.ID">Remove</a>
            </td>

        </tr>
        }
    </tbody>
</table>