@model  MyShop.Models.Basket
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Basket</h1>
<head>
    <link rel="stylesheet" href="~/css/Reset.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
</head>
<table class="table">
    <thead>
        <tr>
            <th>
                Item:
            </th>
            <th>
                Price:
            </th>
            <th>
                Quantity:
            </th>
            <th>


            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BasketList)
        {
          
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                $@item.LineItemAmount
            </td>
            <td>
                <form asp-action="Edit" method="post" asp-route-id="@item.ID">
                    <input type="number" name="quantity" value="@item.Quantity" />
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <a asp-action="DeleteBasketItem" asp-route-id="@item.ID">Remove</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>

<a asp-action="Checkout" asp-controller="Checkout">Checkout</a>
</div>