@page
@model MyShop.Pages.Profile.ProfileModel
@using Microsoft.AspNetCore.Identity
@using MyShop.Models
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout";
}

<h1>Profile</h1>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <span>Welcome @User.Claims.First(c => c.Type == "FullName").Value!</span>
        @await Component.InvokeAsync("BasketComponent");
    }
    @if (!SignInManager.IsSignedIn(User))
    {
        <span>Welcome anonymous! <a href="/Account/Register">Click here to sign in!</a></span>
    }
</div>