@page "{id}"
@model MyShop.Pages.Profile.IndexModel
@{
}
<form method="post">
    <p>
        Change Password: <input type="password" />
    </p>
    <p>
        Confirm New Password: <input type="password" />
    </p>
    <button type="submit">Save</button>
</form>