@page "{id}"
@model MyShop.Pages.Profile.IndexModel
@{
}


<form method="post">
    <p>
        Current Password: <input asp-for="currentPassword" type="password" />
    </p>
    <p>
        New Password: <input asp-for="password" type="password" />
    </p>
    <p>
        Confirm New Password: <input asp-for="confirmPassword" type="password" />
    </p>
    <button type="submit">Save</button>
</form>