@model MyShop.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_layout";
}

<h1>Register!</h1>
<form method="post">
    <div asp-validation-summary="All" class="Text-danger"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>

    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName" class="text-danger"></span>

    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <span asp-validation-for="LastName" class="text-danger"></span>

    <label asp-for="Birthday"></label>
    <input asp-for="Birthday" />
    <span asp-validation-for="Birthday" class="text-danger"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password" class="text-danger"></span>

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    <label asp-for="LoveAnimals"></label>
    <input type="checkbox" asp-for="LoveAnimals" />
    <span asp-validation-for="LoveAnimals" class="text-danger"></span>

    <button type="submit"value="Register">Register User</button>
</form>

