@page
@model MyShop.Pages.Admin.ProductCreationModel
@{
    ViewData["Title"] = "ProductCreation";
}
<head>
    <link rel="stylesheet" href="~/css/Reset.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />

</head>

<h1>ProductCreation</h1>

