@page
@model MyShop.Pages.Admin.ProductManagementModel
@using MyShop.Interfaces
@inject IInventoryManager InventoryService
@{
    ViewData["Title"] = "ProductManagement";
    Layout = "_layout";
}

<h1>ProductManagement</h1>
<h3><a asp-page="/Admin/ProductEdit">Add New Product</a></h3>

@{
    var products = await InventoryService.GetALLProducts();

}

@foreach (var item in products)
{
    <p>
        @item.Name
    </p>
    <a asp-page="./ProductEdit" asp-route-id="@item.ID">Edit</a>
    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
}
