@model MyShop.Models.Basket
@{
    ViewData["Title"] = "Receipt";
    Layout = "_Layout";
}

<h1>Checkout</h1>
Thank you for your purchase!
<table class="table">
    <thead>
        <tr>
            <th>
                Item:
            </th>
            <th>
                Quantity:
            </th>
            <th>
                Price:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BasketList)
        {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                $@item.LineItemAmount
            </td>


        </tr>
        }
    </tbody>
</table>
        Total: $@Model.TotalPrice