@model IEnumerable<MyShop.Models.ViewModels.ComponentViewModel>
@{ 
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Default</title>
</head>
<body>
    <section style="border: 1px solid black">
        Basket:
        <table>
            <tr>
                <th>
                    Item:
                </th>
                <th>
                    Price:
                </th>
            </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    $@item.Price.00
                </td>
            </tr>
        }
        </table>
    </section>
</body>
</html>