body{

}
a.thumbnail {
    text-decoration: none;
    color: black;
}

    a.thumbnail:hover {
        color: black;
    }

.splash {
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 50rem;
    width: 100%;
    overflow: hidden;
}

    .splash video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .splash .container {
        position: relative;
        z-index: 0;
    }

    .splash .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 0;
    }

.card-img-top {
    height: 390px;
    background-color: #FFFFFF;
    margin-top: 10px;
    overflow: hidden;
}

@media (pointer: coarse) and (hover: none) {
    .splash video {
        display: none;
    }
}

#venture {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}